@import "tailwindcss";


body {
  background: #2C2E33;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 899px) {
  .modern-desktop {
    display: none !important;
  }
  .modern-mobile {
    display: block !important;
  }
}

@media (min-width: 900px) {
  .modern-desktop {
    display: block !important;
  }
  .modern-mobile {
    display: none !important;
  }
}


@media (max-width: 440px) {
  .right-arrow {
    right: 60px !important;
  }
  .right-arrow-2 {
    right: 40px !important;
    rotate: 10deg !important;
  }
}