@import "tailwindcss";

body {
  background: #2c2e33;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img,
svg,
canvas,
video {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@media (max-width: 899px) {
  .modern-desktop {
    display: none !important;
  }
  .modern-mobile {
    display: block !important;
  }
}

@media (min-width: 900px) {
  .modern-desktop {
    display: block !important;
  }
  .modern-mobile {
    display: none !important;
  }
}

@media (max-width: 440px) {
  .right-arrow {
    right: 60px !important;
  }
  .right-arrow-2 {
    right: 40px !important;
  }
  .circle-1 {
    left: 20px !important;
  }
  .circle-2-440 {
    right: 0px !important;
  }
}

@media (max-width: 390) {
  .circle-1 {
    top: 0px !important;
    left: 0px !important;
  }
  .circle-2 {
    top: 300px !important;
  }
  .circle-3 {
    top: 470px !important;
  }
  .arrow-size {
    width: 70px !important;
    height: 70px !important;
  }
  .arrow-1 {
    top: 80px !important;
    left: 120px !important;
  }
  .circle-2-size {
    width: 110px !important;
    height: 110px !important;
  }
  .arrow-2 {
    top: 280px !important;
    left: 120px !important;
  }
  .arrow-3 {
    left: 130px !important;
    top: 390px !important;
  }
  .hight-of-device-300 {
    height: 600px !important;
  }
}
.arrow-banner {
  background: linear-gradient(to right, #1a001f, #6b009d);
  border: 2px solid white;
  padding: 1rem 2rem;
  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    20px 100%,
    0% 50%
  );
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.carousel-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
}

.scrollbar-hidden {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  flex: 0 0 auto; /* Prevent cards from shrinking */
}
